{
    "selected_cluster":"local",
    "clusters":{
        "local": {
            "host":"localhost",
            "port":8083
        },
        "test":{
            "host":"https://testhost"
        }
    }
}